.header{
	font-family: robota , sans-serif;
	background-color: rgba(0,0,0, .5);

	&--container{
		padding: 20px 10px;
	}

	img{
		height: 10vh;
	}

	nav{
		font-size: 14px;
		float: right;
		ul{
			list-style-type: none;

			li{
				display: inline-block;
			}

			a{
				text-transform: uppercase;
				display: block;
				text-decoration: none;
				color: #fff;

				&:not(:last-child){
					margin-right: 20px;
				}
			}
		}
	}
}